body{text-align: center;}
h1{background: indigo; color: #fff; padding: 10px 0}
a{background: black; color: #fff;}
li{line-height: 180%; list-style: none;}
ul{text-align: center}
h2{background: red; color: #fff; font-size: 14px; padding: 5px 0;}