@charset "utf-8";
body{margin-top: 40px;}

@media screen and (max-width: 599px) and (min-width: 300px) {
    a{font-size: 1em;}
    li{width: 90px; height: 90px; padding: 0; line-height: 90px; border: 3px solid #bdbdbd; margin: 6px 6px 0; border-radius: 10px;}
    li:nth-child(3n+4){clear: left;}
    li:nth-child(2){background: url(../images/sandal2.png) no-repeat center #fff;}
    li:nth-child(3){background: url(../images/neck2.png) no-repeat center #fff;}
    li:nth-child(4){background: url(../images/bag2.png) no-repeat center #fff;}
    li:nth-child(5){background: url(../images/top2.png) no-repeat center #fff;}
    li:nth-child(6){background: url(../images/dress2.png) no-repeat center #fff;}
    li:nth-child(7){background: url(../images/bottom2.png) no-repeat center #fff;}
}
