@font-face {
    font-family: 'Chilgok_Cye';
    src: url('Chilgok_Cye.woff2') format('woff2'),
        url('Chilgok_Cye.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

